* {
  box-sizing: border-box;
}

.page_title {
    font-size: 18pt;
    padding-bottom: 0px;
    text-align:center;
    width:100%;
    /* display:block; */
    display:block;
    /* float:left; */
}

body {
  margin: 0;
  font-family: Arial;
  background-color: #36393E;
  color: white;
  min-width:600px
}

a:link {
  color: #e6f2ff;
}
a:visited {
  color: #e6f2ff;
}
a:hover {
  color: white;
}
/*
a:active {
  color: white;
}
*/
.column {
  float: left;
  padding: 4px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* The actual popup */
.popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  margin-left: -80px;
}

/* Popup arrow */
.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popuptext.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
